.example-card {
    max-width: 450px;
    margin-left: 45px;
    margin-top: 60px;
}

.image {
    max-width: 120px;
    max-height: 110px;
    margin-left: 200px;
    border-radius: 15px;
    border: 1px solid red
}

.button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

.header {
    margin-left: 120px
}

.example-button-row-2 {
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around
}

.editDelete {
    margin-left: 15%;
}